<div class="pt-5" id="about">
  <div class="container px-4 py-5">
    <div class="row align-items-center justify-content-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 rounded-4 bg-dark-subtle p-lg-5 p-md-3 p-0 mat-elevation-z10">
        <img alt="Developer Image" class="d-block rounded-4 mx-lg-auto img-fluid"
             height="732" ngSrc="./assets/developer.png" priority width="1027">
      </div>
      <div class="col-lg-6 px-5">
        <h1 class="display-5 fw-bold text-body-emphasis mb-4">... /About me ...</h1>
        <p class="lead mb-4">
          Hello there! I'm a full-stack developer with more than {{ workExperience }} years experience with a passion
          for creating impactful web applications.
        </p>
        <p class="lead mb-4">
          I have been contributing to the success of
          <a class="text-decoration-none text-warning" href="https://www.bancatransilvania.ro/" target="_blank">
            Banca Transilvania
          </a>
          , Romania's leading financial institution.
          Working here, I've had the privilege of developing web applications across various domains such as
          Risk Management, Card Services, Transaction Processing, Reporting, Credit Management, Employee Performance
          among many others. My experience spans a wide range of areas, enabling me to deliver versatile solutions.
        </p>
      </div>
    </div>
  </div>
</div>
