<div class="bg-dark-subtle pb-5" id="projects">
  <svg viewBox="0 0 1440 100" xmlns="http://www.w3.org/2000/svg">
    <path d="M0,96L1440,0L1440,0L0,0Z" fill="#212529" fill-opacity="1"></path>
  </svg>
  <div class="container py-5 px-5">
    <h1 class="display-5 fw-bold text-body-emphasis mb-4">... /Projects ...</h1>
    <div class="text-secondary-emphasis mb-5">
      Throughout my career as a Software Developer, I have had the opportunity to work on a diverse array of projects,
      both for my employer and as personal initiatives.
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card h-100 rounded-4">
          <div class="card-img-top position-relative">
            <img alt="Credits" fill ngSrc="./assets/projects/credits.png" priority>
          </div>
          <div class="card-body">
            <h5>Credits</h5>
            <p class="card-text">
              Managing credit guarantees and notifications. The web application allows
              users to efficiently search for credits, view and define associated guarantees, ensuring all necessary
              details are captured.
            </p>
            <p class="card-text">
              Users can send notifications, keeping all relevant parties informed and up-to-date.
            </p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="text-secondary">Office</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-4">
          <div class="card-img-top position-relative">
            <img alt="Faculty" fill ngSrc="./assets/projects/faculty.png" priority>
          </div>
          <div class="card-body">
            <h5>University Teachers Evaluation</h5>
            <p class="card-text">
              This application is designed for faculty members to evaluate each other. The platform allows teachers
              to provide peer evaluations, while te dean has the capability to view and approve all grades.
            </p>
            <p class="card-text">
              Additionally, the application have a dashboard where the dean can analyze
              various metrics, such as the mean grade of the finance department, or the best teacher.
            </p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="text-secondary">Personal</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-4">
          <div class="card-img-top position-relative">
            <img alt="Fraud Investigation" fill ngSrc="./assets/projects/fraud.png" priority>
          </div>
          <div class="card-body">
            <h5>Fraud Investigation</h5>
            <p class="card-text">
              Streamline the process of fraud investigation within an organization. This platform allows users to create
              and manage detailed investigations about clients, ensuring thorough documentation and analysis.
            </p>
            <p class="card-text">
              Users with higher privileges can review investigations, approve, deny them, or request additional
              information, ensuring a robust and accountable process.
            </p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="text-secondary">Office</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-4">
          <div class="card-img-top position-relative">
            <img alt="Front Office Performance" fill ngSrc="./assets/projects/employee.png" priority>
          </div>
          <div class="card-body">
            <h5>Front Office Performance</h5>
            <p class="card-text">
              Front Office employees track their performance based on their sales data. This platform allows
              employees to view the corresponding bonus percentages they earn upon achieving performance indicators.
            </p>
            <p class="card-text">
              Additionally, an administration module enables a group of employees to monitor overall performance
              metrics and generate reports.
            </p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="text-secondary">Office</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-4">
          <div class="card-img-top position-relative">
            <img alt="Folignio" fill ngSrc="./assets/projects/folignio.png" priority>
          </div>
          <div class="card-body">
            <h5>Car Detailing</h5>
            <p class="card-text">
              I developed a presentation website for a business specializing in car detailing.
              With a user-friendly interface, the website aims to attract car enthusiasts looking for detailing
              services.
            </p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="d-inline-block text-secondary">Personal</div>
            <div class="d-inline-block float-end">
              <a class="text-decoration-none" href="https://www.folignio.ro" target="_blank">View website</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-4">
          <div class="card-img-top position-relative">
            <img alt="SMS Notifications" fill ngSrc="./assets/projects/sms.png" priority>
          </div>
          <div class="card-body">
            <h5>SMS Notifications</h5>
            <p class="card-text">
              Streamline the process of sending SMS notifications for bank campaigns. This application enables users
              to effortlessly compose messages, upload XLS files with phone numbers, and send notifications efficiently.
              By automating these tasks, it significantly improves the speed and accuracy of communication with
              customers.
            </p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="text-secondary">Office</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
